In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('googl5.csv')

dates = df.index.values
price = df['Close'].values

In [3]:
df.head()

        Date    Open    High     Low   Close   Volume
0  28-Jun-17  950.66  963.24  936.16  961.01  2745568
1  27-Jun-17  961.60  967.22  947.09  948.09  2443602
2  26-Jun-17  990.00  993.99  970.33  972.09  1517912
3  23-Jun-17  975.50  986.62  974.46  986.09  1563985
4  22-Jun-17  976.87  980.50  973.31  976.62  1009476

In [11]:
df = df.sort_index(axis=1, ascending=False)
df.head()

       Volume    Open     Low    High       Date   Close
1256  2522562  287.77  286.39  290.36  29-Jun-12  290.33
1255  1655563  291.20  288.54  291.79   2-Jul-12  290.53
1254  1190525  290.30  289.29  294.50   3-Jul-12  294.21
1253  2345901  294.67  294.56  300.33   5-Jul-12  298.26
1252  2162328  296.52  291.70  297.06   6-Jul-12  293.28